/********** Base styles ************/
body{
	font-family: fantasy, sans-serif, monospace; 
}

* {
  box-sizing: border-box;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

section{
	width: 90%;
	background-color: gray;
	border: 1px solid black;
	margin: auto;

}
section div{
	width: 40%;
	border: 1px solid black;
	float: right;
	text-align: center;
}
p{
	margin-top: 25px;
	padding: 15px;
}
#chicken{
	background-color: pink;
}
#beef{
	background-color: orangered;
}
#sushi{
	background-color: yellow;
}

/* Simple Responsive Framework. */
.row {
	width: 100%;
}

/********* Destop version ***********/
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		margin-bottom: 10px;
		width: 33.33%;
		/*border: 1px solid green;*/	
	}
}


/********** Tablet version *********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		margin-bottom: 30px;
		width: 50%;
		/*border: 1px solid green;*/
	}
	#test{
		/*position: relative;*/
		width: 191%;
		margin-left: 20px;
	}
	
}

/*********** Mobile version **********/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		margin-bottom: 10px;
		width: 100%;
		/*border: 1px solid green;*/
	}
}